<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<h1>联系人管理系统</h1>
<a class="btn btn-primary" th:href="@{/contact/jumpToCreate}">新增</a>
<input class="btn btn-primary" type="button" value="下载" onclick="doDownload()"/>
<a class="btn btn-primary" href="/">回到首页</a>
<table class="table table-hover table-condensed" border="1">
    <thead>
        <tr>
            <th>姓名</th>
            <th>电子邮箱</th>
            <th>联系地址</th>
            <th>工作单位</th>
            <th>单位电话</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="contact : ${contacts}" >
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.address}"></td>
            <td th:text="${contact.company}"></td>
            <td th:text="${contact.companyPhone}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/contact/detail/{id}(id=${contact.id})}">详情</a>
                <a class="btn btn-primary" th:href="@{/contact/jumpToUpdate/{id}(id=${contact.id})}">修改</a>
                <a class="btn btn-danger" th:href="@{/contact/delete/{id}(id=${contact.id})}">删除</a>
            </td>
        </tr>
    </tbody>
</table>
<form id="download" method="post" action="/contact/download"></form>
<script type="text/javascript">
    function doDownload() {
        var upl = document.getElementById("download");
        upl.submit();
    }
</script>
</body>
</html>